	*{
	border: solid transparent 2px;
}

html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

div#navbar{
  position: fixed;
  text-align: right;
  height: 75px;
  width: 100%;
  top: 30%;
  right: 30px;
}

div#navbar > a{
  display: block;
}

a.navbar-link{
  color: orange;
  font-size: 3em;
  text-decoration: none;
  margin: 0px 75px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}
section.module.parallax {
  height: 724px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/*section.module.parallax-1 {
  background-image: url("./images/city1.jpg");
}
section.module.parallax-2 {
  background-image: url("./images/city2.jpg");
}
section.module.parallax-3 {
  background-image: url("./images/city3.jpg");
}*/

section{
	height: 724px;
	width: 100%;
	color: red;
}

.slide{
  border-bottom: 2px solid tomato;
}

#base{
  position:relative;
}

.test-img{
  height: 200px;
  width: 200px;
}

#test-img{
  height:200px;
  width: 100%;  
  position: absolute;
  bottom: 0px;
  left:0;
}

.no-border{
  border: none;
}

#move{
  height: 80px;
  width:200px;
  position: fixed;
  bottom: 400px;
  right: 50px;
  -ms-transform: rotate(-90deg); /* IE 9 */
      -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
      transform: rotate(-90deg);
}

.nav-icon{
  height: 50px;
  width: 50px;
}

