/*scrolling*/
#sectionOne {
	width: 100%;
	height: 800px;
	background-color: red;
}
#sectiontwo {
	width: 100%;
	height: 800px;
	background-color: blue;
}

.ballon {
	background: url("images/balloon_red.png");
} 

html, body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

div{
	height: 800px;
	width: 100%;
	border: 1px solid red;
	color: red;
}

